<app-navbar></app-navbar>

<section class="info-section justify-content-center px-4 py-3">
  <div class="px-5 py-5">
    <div class="row top-section book-info-hero px-4 py-4">
      <div class="col-lg-4 mt-3">
        <img src="../../../assets/images/book1.jpg" alt="" srcset="" />
        <div class="row">
          <div class="col-lg-3 thumbnail">
            <img src="../../../assets/images/book1.jpg" alt="" srcset="" />
          </div>
          <div class="col-lg-3 thumbnail">
            <img src="../../../assets/images/book2.jpg" alt="" srcset="" />
          </div>
          <div class="col-lg-3 thumbnail">
            <img src="../../../assets/images/book3.jpg" alt="" srcset="" />
          </div>
          <div class="col-lg-3 thumbnail">
            <img src="../../../assets/images/book4.jpg" alt="" srcset="" />
          </div>
          <div class="col-lg-3 thumbnail">
            <img src="../../../assets/images/book1.jpg" alt="" srcset="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 desc-content mt-3 px-3">
        <div class="content mx-4">
          <h1>Lyrics of the lalala Musical</h1>
          <!-- reviews -->
          <p>No of reviews</p>
          <!-- description -->
          <p>
            What can you do to save money with online shopping? You may be
            wondering if finding coupons and sales is time consuming. If you
            aren’t into that, there are other options. You simply need to heed
            the tips in this piece and act on them.
          </p>
          <div class="minicard card1 mb-3">
            <div class="price">
              <p class="mx-3">
                <span class="strike">NGN 7,500</span> <br />NGN 4,300
              </p>
            </div>
            <div class="stock">
              <p>280 in stock</p>
              <div class="cart-count">
                <input type="number" />
                <button class="">ADD TO CART</button>
              </div>
            </div>
          </div>
          <!-- categories -->
          <p>Categories:<span class="bold">Culture, Life Style</span></p>
          <p>Tags: <span class="bold">Dream, Music, Sound</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- other descriptions -->
<section class="huge-dots">
  <div class="row book-info-hero justify-content-center book-info-container">
    <div class="col-lg-6 justify-content-center book-details">
      <h3 class="mt-4 mb-3 text-center">Book Details</h3>
      <div class="mb-4">
        <div class="split d-flex justify-content-around px-2 py-2">
          <p>Pages</p>
          <p>120 pages</p>
        </div>
        <div class="split1 d-flex justify-content-around px-2 py-2">
          <p>Cover Design</p>
          <p>2 Rivers</p>
        </div>
        <div class="split d-flex justify-content-around px-2 py-2">
          <p>Published</p>
          <p>Nov 2023</p>
        </div>
        <div class="split1 d-flex justify-content-around px-2 py-2">
          <p>ISBN</p>
          <p>68799776</p>
        </div>
        <div class="split d-flex justify-content-around px-2 py-2">
          <p>Published by:</p>
          <p>2 Rivers</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 book-details">
      <h3 class="mt-4 mb-3 text-center">About the Book</h3>
      <div class="text-content">
        <p>
          How to Build a Successful Blog Business is a straight forward guide to
          building a publishing business online that covers everything from
          choosing a niche to hiring staff, registering a business to selling
          it.
        </p>
        <p>
          How to Build a Successful Blog Business is a straight forward guide to
          building a publishing business online that covers everything from
          choosing a niche to hiring staff, registering a business to selling
          it.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- reviews & description -->
  <div class="row px-5 py-5">
    <div class="tab-content" id="myTabContent ">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div class="row" style="background-color: white">
          <div class="d-flex justify-content-between mx-5">
            <div class="nav nav-tabs horizontal-tabs">
              <a class="nav-link active" data-toggle="tab" href="#Description"
                >Description</a
              >

              <a class="nav-link mx-2" data-toggle="tab" href="#Reviews"
                >Reviews</a
              >
            </div>
          </div>
          <div
            class="col-md-12"
            style="
              box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
              background-color: white;
            "
          >
            <div class="tab-content">
              <div id="Description" class="tab-pane fade show active">
                <!-- Report Content -->
                <div class="description">
                  <p>
                    If you want to buy books online, you’ll get a better deal if
                    you get them used. Depending on the condition you get them
                    in, you may just end up paying a few cents plus shipping.
                    Make sure you read through the description of the book to
                    see if there are any damages you should be aware of.
                  </p>
                  <p>
                    Be sure to read everything about the item that you want to
                    buy. A picture of a product can be deceiving. They can make
                    products look much smaller or bigger that they really are.
                    Reading the description will allow you to be confident in
                    the item you are purchasing.
                  </p>
                  <p>
                    If you want to buy books online, you’ll get a better deal if
                    you get them used. Depending on the condition you get them
                    in, you may just end up paying a few cents plus shipping.
                    Make sure you read through the description of the book to
                    see if there are any damages you should be aware of.
                  </p>
                </div>
              </div>
              <!-- Approved Applications section -->
              <div id="Reviews" class="tab-pane fade">
                <!-- View Booking Content -->
                <div class="description">
                  <p>
                    If you want to buy books online, you’ll get a better deal if
                    you get them used. Depending on the condition you get them
                    in, you may just end up paying a few cents plus shipping.
                    Make sure you read through the description of the book to
                    see if there are any damages you should be aware of.
                  </p>
                  <p>
                    Be sure to read everything about the item that you want to
                    buy. A picture of a product can be deceiving. They can make
                    products look much smaller or bigger that they really are.
                    Reading the description will allow you to be confident in
                    the item you are purchasing.
                  </p>
                  <p>
                    If you want to buy books online, you’ll get a better deal if
                    you get them used. Depending on the condition you get them
                    in, you may just end up paying a few cents plus shipping.
                    Make sure you read through the description of the book to
                    see if there are any damages you should be aware of.
                  </p>
                </div>
              </div>
              <!-- Rejected Application section -->
              <div id="view-booking" class="tab-pane fade">
                <!-- View Booking Content -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        ...
      </div>
    </div>
  </div>
</section>
<section>
  <h3 class="mb-3 mt-3 text-center">Related Products</h3>
  <div class="row mb-3 justify-content-center">
    <div class="col-lg-2 card">
      <div class="card-body">
        <img src="../../../assets/images/book1.jpg" alt="" srcset="" />
        <div>
          <p>Shambala Coloring Book</p>
          <p>Winter Press</p>
          <h4>NGN 4,200</h4>
        </div>
        <button class="books-btn">Detail</button>
        <button class="books-btn-right">Buy</button>
      </div>
    </div>
    <div class="col-lg-2 mx-2 card">
      <div class="card-body">
        <img src="../../../assets/images/book2.jpg" alt="" srcset="" />
        <div>
          <p>Shambala Coloring Book</p>
          <p>Winter Press</p>
          <h4>NGN 4,200</h4>
        </div>
        <button class="books-btn">Detail</button>
        <button class="books-btn-right">Buy</button>
      </div>
    </div>
    <div class="col-lg-2 mx-2 card">
      <div class="card-body">
        <img src="../../../assets/images/book3.jpg" alt="" srcset="" />
        <div>
          <p>Shambala Coloring Book</p>
          <p>Winter Press</p>
          <h4>NGN 4,200</h4>
        </div>
        <button class="books-btn">Detail</button>
        <button class="books-btn-right">Buy</button>
      </div>
    </div>
    <div class="col-lg-2 mx-2 card">
      <div class="card-body">
        <img src="../../../assets/images/book4.jpg" alt="" srcset="" />
        <div>
          <p>Shambala Coloring Book</p>
          <p>Winter Press</p>
          <h4>NGN 4,200</h4>
        </div>
        <button class="books-btn">Detail</button>
        <button class="books-btn-right">Buy</button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
