<app-navbar></app-navbar>

<section class="info-section justify-content-center px-4 py-3">
  <div class="px-5 py-5">
    <div class="row top-section book-info-hero px-4 py-4">
      <div class="col-lg-4 mt-3">
        <img src="../../../assets/images/book1.jpg" alt="" srcset="" />
        <div class="row">
          <div class="col-lg-3 thumbnail">
            <img src="../../../assets/images/book1.jpg" alt="" srcset="" />
          </div>
          <div class="col-lg-3 thumbnail">
            <img src="../../../assets/images/book2.jpg" alt="" srcset="" />
          </div>
          <div class="col-lg-3 thumbnail">
            <img src="../../../assets/images/book3.jpg" alt="" srcset="" />
          </div>
          <div class="col-lg-3 thumbnail">
            <img src="../../../assets/images/book4.jpg" alt="" srcset="" />
          </div>
          <div class="col-lg-3 thumbnail">
            <img src="../../../assets/images/book1.jpg" alt="" srcset="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 desc-content mt-3 px-3">
        <div class="content mx-4">
          <h3>Lyrics of the lalala Musical</h3>
          <!-- reviews -->
          <p>No of reviews</p>
          <!-- description -->
          <p>
            What can you do to save money with online shopping? You may be
            wondering if finding coupons and sales is time consuming. If you
            aren’t into that, there are other options. You simply need to heed
            the tips in this piece and act on them.
          </p>
          <div class="minicard card1 mb-3">
            <div class="price">
              <p>NGN 4,300</p>
            </div>
            <div class="stock">
              <p>280 in stock</p>
              <div class="cart-count">
                <input type="number" />
                <button class="">ADD TO CART</button>
              </div>
            </div>
          </div>
          <!-- categories -->
          <p>Categories:Culture, Life Style</p>
          <p>Tags: Dream, Music, Sound</p>
        </div>
      </div>
    </div>
  </div>
  <!-- other descriptions -->
  <div class="row book-info-hero">
    <div class="col-lg-6 justify-content-center">
      <h3 class="mt-4 mb-3 text-center">Book Details</h3>
      <div class="mb-4">
        <div class="split d-flex justify-content-around px-2 py-2">
          <p>Pages</p>
          <p>120 pages</p>
        </div>
        <div class="split1 d-flex justify-content-around px-2 py-2">
          <p>Cover Design</p>
          <p>2 Rivers</p>
        </div>
        <div class="split d-flex justify-content-around px-2 py-2">
          <p>Published</p>
          <p>Nov 2023</p>
        </div>
        <div class="split1 d-flex justify-content-around px-2 py-2">
          <p>ISBN</p>
          <p>68799776</p>
        </div>
        <div class="split d-flex justify-content-around px-2 py-2">
          <p>Published by:</p>
          <p>2 Rivers</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h3 class="mt-4 mb-3 text-center">About the Book</h3>
      <div class="text-content">
        <p>
          How to Build a Successful Blog Business is a straight forward guide to
          building a publishing business online that covers everything from
          choosing a niche to hiring staff, registering a business to selling
          it.
        </p>
        <p>
          How to Build a Successful Blog Business is a straight forward guide to
          building a publishing business online that covers everything from
          choosing a niche to hiring staff, registering a business to selling
          it.
        </p>
      </div>
    </div>
  </div>

  <!-- reviews & description -->
  <div class="row">
    <div class="nav nav-tabs horizontal-tabs">
      <a class="nav-link active" data-toggle="tab" href="#profile"
        >Description</a
      >
      <a class="nav-link mx-2" data-toggle="tab" href="#view-booking"
        >Reviews</a
      >
    </div>
    <div class="tab-content">
      <div id="profile" class="tab-pane fade show active">
        <!-- Unapproved pplications Content -->
      </div>
      <!-- Approved Applications section -->
      <div id="view-booking" class="tab-pane fade">
        <!-- View Booking Content -->
      </div>
      <!-- Rejected Application section -->
      <div id="view-booking" class="tab-pane fade">
        <!-- View Booking Content -->
        <div class="table-responsive"></div>
      </div>
      <div id="change-password" class="tab-pane fade mb-5">
        <!-- All applications Content -->
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      ...
    </div>
  </div>
</section>
<section>
  <h3 class="mb-3 mt-3 text-center">Related Products</h3>
  <div class="row mb-3 justify-content-center">
    <div class="col-lg-2 card">
      <div class="card-body">
        <img src="../../../assets/images/book1.jpg" alt="" srcset="" />
        <div>
          <p>Shambala Coloring Book</p>
          <p>Winter Press</p>
          <h4>NGN 4,200</h4>
        </div>
        <button class="books-btn">Detail</button>
        <button class="books-btn-right">Buy</button>
      </div>
    </div>
    <div class="col-lg-2 mx-2 card">
      <div class="card-body">
        <img src="../../../assets/images/book2.jpg" alt="" srcset="" />
        <div>
          <p>Shambala Coloring Book</p>
          <p>Winter Press</p>
          <h4>NGN 4,200</h4>
        </div>
        <button class="books-btn">Detail</button>
        <button class="books-btn-right">Buy</button>
      </div>
    </div>
    <div class="col-lg-2 mx-2 card">
      <div class="card-body">
        <img src="../../../assets/images/book3.jpg" alt="" srcset="" />
        <div>
          <p>Shambala Coloring Book</p>
          <p>Winter Press</p>
          <h4>NGN 4,200</h4>
        </div>
        <button class="books-btn">Detail</button>
        <button class="books-btn-right">Buy</button>
      </div>
    </div>
    <div class="col-lg-2 mx-2 card">
      <div class="card-body">
        <img src="../../../assets/images/book4.jpg" alt="" srcset="" />
        <div>
          <p>Shambala Coloring Book</p>
          <p>Winter Press</p>
          <h4>NGN 4,200</h4>
        </div>
        <button class="books-btn">Detail</button>
        <button class="books-btn-right">Buy</button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
